<div class="row fondo">
  <h1>Bienvenido  a la pagina de Home con un color de fondo </h1>
  <p>en esta seccion iremos subiendo mas contenido de acuerdo a como vayamos avanzando y aprendiendo en el curso</p>

</div>
